{% extends "layout.html" %}

{% block title %}
About Me - Carlie's Australian Bird Sightings
{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Heading -->
    <section id="page-heading">
        <div class="title-container">
            <h1 class="page-heading">About Me</h1> <!-- New major heading -->
        </div>
    </section>

    <!-- Subheading (Changes per Page) -->
    <section id="page-subheading">
        <div class="title-container">
            <h2 class="minor-heading">--- Some information about me and this website ---</h2> <!-- Subheading changes for each page -->
        </div>
    </section>

    <!-- Column layout - Photo and blurb -->
    <section id="about">
        <div class="about-container">
            <!-- Left column: Photo -->
            <div class="about-photo">
                <img src="{{ url_for('static', filename='images/carlie_and_cy.jpg') }}" alt="Photo of Carlie and Cy" class="profile-photo">
            </div>

            <!-- Right column: Text -->
            <div class="about-text">
                <h2>Hi, I'm Carlie! 👋 </h1>
                <P></P>
                <p>Hi, I’m Carlie! I love watching and listening to Australian birds and exploring the beautiful Australian landscapes. This website is my way of recording and sharing the bird species I encounter.</p>
                <p>In the photo, you can see me pictured with my lovely dog, Cy. He also enjoys watching Australian birdlife.</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}

<!-- TEMP COMMENT-->