{% extends "layout.html" %}

{% block title %}
Donate - Carlie's Australian Bird Sightings
{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Heading -->
    <section id="page-heading">
        <div class="title-container">
            <h1 class="page-heading">Donate</h1> <!-- New major heading -->
        </div>
    </section>

    <!-- Subheading (Changes per Page) -->
    <section id="page-subheading">
        <div class="title-container">
            <h2 class="minor-heading">--- Support these organisations ---</h2> <!-- Subheading changes for each page -->
        </div>
    </section>

        <!-- Column layout - Photo and blurb -->
    <section id="donate">
        <p>If you can, please donate to the following organisations:</p>
        <div class="donate-container">
            <div class="donate-item">
                <h3>WIRES</h3>
                <a href="https://www.wires.org.au/?form=donate" target="_blank">Donate to WIRES</a>
            </div>
            <div class="donate-item">
                <h3>Sydney Wildlife Rescue</h3>
                <a href="https://www.sydneywildlife.org.au/donate/" target="_blank">Donate to Sydney Wildlife Rescue</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
