{% extends "layout.html" %}

{% block title %}
Carlie's Bird Sightings Homepage
{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Heading -->
    <section id="page-heading">
        <div class="title-container">
            <h1 class="page-heading">Australian Bird Sightings</h1> <!-- New major heading -->
        </div>
    </section>

    <!-- Subheading (Changes per Page) -->
    <section id="page-subheading">
        <div class="title-container">
            <h2 class="minor-heading">--- ALL SIGHTINGS ---</h2> <!-- Subheading changes for each page -->
        </div>
    </section>
    
    <!-- Grid of all bird species -->
    <section id="bird-sightings">
        <div class="grid-container">
            <!-- Each bird record -->
            <div class="bird-record">
                <img src="/static/images/birds/rainbow_lorikeet.jpg" alt="Rainbow Lorikeet" class="bird-image">
                <h3 class="bird-name">Rainbow Lorikeet</h3>
                <a href="bird1_profile.html" class="profile-link">Profile</a> <!-- Placeholder filename. -->
            </div>
            <div class="bird-record">
                <img src="/static/images/birds/australian_king_parrot_2.jpg" alt="Australian King-Parrot" class="bird-image">
                <h3 class="bird-name">Australian King-Parrot</h3>
                <a href="bird2_profile.html" class="profile-link">Profile</a>
            </div>
            <div class="bird-record">
                <img src="/static/images/birds/grey_butcherbird.jpg" alt="Grey Butcherbird" class="bird-image">
                <h3 class="bird-name">Grey Butcherbird</h3>
                <a href="bird3_profile.html" class="profile-link">Profile</a>
            </div>
                <div class="bird-record">
                <img src="/static/images/birds/pied_currawong.jpg" alt="Pied Currawong" class="bird-image">
                <h3 class="bird-name">Pied Currawong</h3>
                <a href="bird4_profile.html" class="profile-link">Profile</a>
            </div>
            <!-- Add more records as needed -->
        </div>
    </section>
</div>
{% endblock %}