{% extends "layout.html" %}

{% block title %}
Carlie's Bird Sightings Homepage
{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Heading -->
    <section id="page-heading">
        <div class="title-container">
            <h1 class="page-heading">Australian Bird Sightings</h1> <!-- New major heading -->
        </div>
    </section>

    <!-- Subheading (Changes per Page) -->
    <section id="page-subheading">
        <div class="title-container">
            <h2 class="minor-heading">--- ALL SIGHTINGS ---</h2> <!-- Subheading changes for each page -->
        </div>
    </section>
    
    <section id="bird-sightings">
        <div class="grid-container">
        {% for row in bird_sightings %} <!-- Having the variable here also name 'content' was too confusing, so rename to bird)sightings. Flask route (main.py) updated. -->
            <div class="bird-record">
                <img
                    class="bird-image"
                    src="{{ row['image_bird1_path'] }}"
                    alt="{{ row['image_bird1_desc'] }}">
                    <h3 class="bird-name">{{ row['common_name'] }}</h3>
                    <a class="profile-link" href="bird_profile.html">Profile</a>
            </div>
        {% endfor %}
        </div>
    </section>

</div>
{% endblock %}