<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Character encoding: Ensures text is interpreted correctly -->
        <meta charset="UTF-8" />

        <!-- Viewport settings: For responsive design on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Forces old versions of IE to use the newest rendering engine -->
        <!-- OK to remove (needed if using IE10 or below only) -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <!-- Restricts script loading to the same origin for security (CSP) -->
        <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
        
        <!-- Link to external CSS -->
        <link rel="stylesheet" href="../static/css/style.css" />

        <!-- Page Title: Displayed in browser tab and bookmarks -->
        <title>My Australian Birds Catalogue</title>

        <!-- <link rel="manifest" href="static/manifest.json" /> -->
        <!-- <link rel="icon" type="image/x-icon" href="static/images/favicon.png"> -->
    </head>
    <body>
        <header>

        </header>
        <main>
        <!-- {% include "partials/menu.html" %} -->
        <!-- {% block content %}{% endblock %} -->
        
        </main>
        <!-- <script src="static/js/app.js"></script> -->
        <footer>

        </footer>
    </body>
</html>